In [1]:
import mysql.connector
from mysql.connector import Error

try:
    # Connect to the MySQL database
    conn = mysql.connector.connect(
        host='127.0.0.1',    # Replace with your host
        user='root',         # Replace with your username
        password='Admin@123', # Replace with your password
        database='eduonix',  # Replace with your database name
        port=3306            # Default MySQL port
    )

    if conn.is_connected():
        print("Connected to the database")
    
    cur = conn.cursor()

    # Drop the Ages table if it exists
    cur.execute('''
    DROP TABLE IF EXISTS Ages''')

    # Create the Ages table
    cur.execute('''
    CREATE TABLE Ages (name VARCHAR(255), age INTEGER)''')

    # Insert sample data into the Ages table
    cur.execute("INSERT INTO Ages (name, age) VALUES ('Mara', 28)")
    cur.execute("INSERT INTO Ages (name, age) VALUES ('Otto', 33)")
    cur.execute("INSERT INTO Ages (name, age) VALUES ('Fyn', 31)")
    cur.execute("INSERT INTO Ages (name, age) VALUES ('Neshawn', 17)")

    # Commit the transaction
    conn.commit()

    # Retrieve and display the data
    cur.execute("SELECT * FROM Ages")
    rows = cur.fetchall()

    for row in rows:
        print(row)

except Error as e:
    print("Error while connecting to MySQL", e)

# finally:
#     if conn.is_connected():
#         cur.close()
#         conn.close()
#         print("MySQL connection is closed")

Connected to the database
('Mara', 28)
('Otto', 33)
('Fyn', 31)
('Neshawn', 17)

In [2]:
conn.commit()

In [3]:
cur.execute("SELECT hex(name) AS name_hex, hex(age) AS age_hex FROM Ages ORDER BY name_hex, age_hex")
rows = cur.fetchall()

for row in rows:
    print(row)

('46796E', '1F')
('4D617261', '1C')
('4E65736861776E', '11')
('4F74746F', '21')

In [4]:
if conn.is_connected():
    cur.close()
    conn.close()
    print("MySQL connection is closed")

MySQL connection is closed